html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6d0;
}

h1 {
  font-family: "Bevan", cursive;
  display: block;
}

header {
  background-color: #79766f;
  text-align: center;
  color: #fff;
  border-width: 0;
  border-color: #5a5750;
  border: 5px solid #5a5750;
  margin: 0;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  list-style-type: none;
  display: inline-block;
}

li {
  display: inline-block;
  background-color: #6d3a36;
  padding: 1em;
  border-radius: .5em;
  margin: .3em;
}

li:hover {
  background-color: #ff332a;
}
